<template>
  <section class="loginContainer">
    <div class="loginInner">
      <div class="login_header">
         <h2 class="login_logo">硅谷外卖</h2>
         <div class="login_header_title">
           <a href="javascript:;" class="on">短信登录</a>
           <a href="javascript:;">密码登录</a>
         </div>
      </div>
      <div class="login_content">
        <form>
          <div class="on">
            <section class="login_message">
              <input type="tel" maxlength="11" placeholder="手机号">
              <button disabled="disabled" class="get_verification">获取验证码</button>
            </section>
            <section class="login_verification">
              <input type="tel" maxlength="8" placeholder="验证码">
            </section>
            <section class="login_hint">
               温馨提示：未注册硅谷外卖账号的手机号，登录时将自动注册，且代表已同意...
              <a href="javascriptL;">《用户服务协议》</a>
            </section>
          </div>
          <div class="none">
            <section>
              <section class="login_message">
                <input type="tel" maxlength="11" placeholder="手机/邮箱/用户名">
              </section>
              <section class="login_verification">
                <input type="tel" maxlength="8" placeholder="密码">
                <div class="switch_button off">
                  <div class="switch_circle"></div>
                  <div class="swicth_text">...</div>
                </div>
              </section>
              <section class="login_message">
                <input type="text" maxlength="11" placeholder="验证码">
                <img class="get_verification" src="./images/captcha.svg">
              </section>
            </section>
          </div>
          <button class="login_submit">登录</button>
        </form>
        <a href="javascript:;" class="about_us">关于我们</a>
      </div>
      <a href="javascript:;" class="go_back" @click="$router.back()">
        <i class="iconfont iconarrow"></i>
      </a>
    </div>
  </section>
</template>

<script>
    export default{}
</script>
<style>
  .loginContainer
    {
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .loginInner{
      padding-top:60px;
      width:80%;
      margin: 0 auto;
    }
  .login_header .login_logo{
      font-size: 40px;
      font-weight: bold;
      color: #02a774;
      text-align: center;
  }
  .login_header_title{
    padding-top: 40px;
    text-align: center;
  }
  .login_header_title >a{
    margin-right:20px;
    color: #333;
    font-size: 14px;
    padding-bottom: 4px;
  }
  .login_header_title .on{
    color: #02a774;
    font-weight: 700;
    border-bottom: 2px solid #02a774;
  }
  .login_content .none{
    display: none;
  }
  .login_content .on{
    display: block;
  }
  .login_content input{

  }
  .login_content .login_message {
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    border: 1px solid #cdcdcd;
    height: 30px;
    line-height: 30px;
  }
  .login_verification{
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    border: 1px solid #cdcdcd;
    height: 30px;
    line-height: 30px;
  }
  .go_back{
    position: relative;
    bottom:380px;
    left: -200px;
  }
  .login_hint{
    margin-top: 20px;
    color: #999;
    border: 0px solid #cdcdcd;
    font-size: 12px;
    float: left;
    width: 85%;
   margin-left: 10%;
    line-height: 24px;
  }
  .login_hint a{
    color:#02a774 ;
  }
  .login_submit{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    background: #02a774;
    line-height: 30px;
    line-height: 30px;
    color: #fff;
  }
  .about_us{
    margin-top: 20px;
    font-size: 13px;
    color: #999;
    float: left;
    margin-left:40%;
  }
  .get_verification{
    color: #cdcdcd;
  }
</style>
