<template>
  <section class="order">
    <!--<header class="header">-->
      <!--<a class="header_title">-->
        <!--<span class="header_title_text">订单列表</span>-->
      <!--</a>-->
    <!--</header>-->


    <HeaderTop title="订单列表"/>
    <section class="order_no_login">
       <img src="./images/person.png">
      <h3>登录后查看外卖订单</h3>
      <button>立即登录</button>
    </section>
  </section>
</template>

<script>
  import HeaderTop from '../../components/HeaderTop/HeaderTop.vue'
  export default {
    components:{
      HeaderTop
    }
  }
</script>


<style lang="stylus" rel="stylesheet/stylus">

</style>
