<template>
  <!-- 首页头部 -->
  <header class="header">
    <slot name="left"></slot>
    <span class="header_title">
        <span class="header_title_text_ellipsis">{{title}}</span>
      </span>
    <slot name="right"></slot>
  </header>

</template>

<script>

    export default{
        props:{
            title:String
        }
    }

</script>


<style lang="stylus" rel="stylesheet/stylus">
  .header
    border-bottom 1px solid #cdcdcd
    background-color #02a774
    position fixed
    z-index 100
    left 0
    top 0
    width 100%
    height 45px
    .header_search
      position absolute
      left 5px
      top 50%
      transform translateY(-50%)
      width 10%
      color #fff
      .icon-sousuo
        font-size 25px
    .header_title
      position absolute
      left 50%
      top 50%
      transform translate(-50%,-50%)
      width 40%
      color #fff
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    .header_login
      font-size 14px
      color #fff
      position absolute
      right 15px
      top 50%
      transform translateY(-50%)
      .header_login_text
        color #fff

</style>
