@charset "UTF-8";
/**
 * @title as框架 
 * @file basic 
 * @authors kebai
 * @date    2016-05-09 16:23:48
 * @version $Id$
 */
/*========public========*/
body {
  font-size: 12px;
  color: #333333;
}
a {
  color: #333333;
}
a:hover {
  color: #2d67d5;
} 
 
body,
button,
input,
select,
textarea {
  font-family: 'tahoma', 'Open Sans', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'sans-serif', '宋体';
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,
select,option,p,span,strong,a,i,em,hr,button,table,thead,tbody,th,td,caption,area,abbr,blockquote,article,aside,details,summary,figcaption,figure,footer,header,hgroup,menu,nav,section{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
 
select {
  border: solid 1px #D5D5D5;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 14px;
  padding-right: 0\0;
  background: url("../img/select_arrow.png") no-repeat scroll right center #ffffff;
  padding-left: 4px;
}
select::-ms-expand {
  display: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
} 
input:disabled,select:disabled,textarea:disabled{
 background-color:#f8f8f8;color: #666;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#D4D4D4;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#D4D4D4;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#D4D4D4;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#D4D4D4;
}
input:-webkit-autofill {/*去掉谷歌黄色背景*/
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/*========颜色========*/
.as-text-blue {
  color: #469CF3;
}
.as-text-red {
  color: #fe0000;
}
.as-text-yellow {
  color: #ffc40d;
}
.as-text-green {
  color: #22995E;
}
.as-text-gray {
  color: #999;
}
.as-bg-blue {
  background-color: #469CF3;
}
.as-bg-red {
  background-color: #fe0000;
}
.as-bg-yellow {
  background-color: #ffc40d;
}
.as-bg-green {
  background-color: #22995E;
}
.as-bg-gray {
  background-color: #888888;
}
.as-text-lt {
  text-align: left;
}
.as-text-rt {
  text-align: right;
}
.as-text-ct {
  text-align: center;
}
/*========grids 24栅格布局========*/
.as-lay-out,
.as-lay-out2 {
  width: 100%;
  clear: both;
}
.as-lay-row {
  margin: -5px;
  clear: both;
}
.as-lay-24,
.as-lay-23,
.as-lay-22,
.as-lay-21,
.as-lay-20,
.as-lay-19,
.as-lay-18,
.as-lay-17,
.as-lay-16,
.as-lay-15,
.as-lay-14,
.as-lay-13,
.as-lay-12,
.as-lay-11,
.as-lay-10,
.as-lay-9,
.as-lay-8,
.as-lay-7,
.as-lay-6,
.as-lay-5,
.as-lay-4,
.as-lay-3,
.as-lay-2,
.as-lay-1 { 
  display: inline;
  float: left;
  padding: 5px;
}
.as-lay-out2 .as-lay-row {
  margin: -7px;
}
.as-lay-out2 .as-lay-24,
.as-lay-out2 .as-lay-23,
.as-lay-out2 .as-lay-22,
.as-lay-out2 .as-lay-21,
.as-lay-out2 .as-lay-20,
.as-lay-out2 .as-lay-19,
.as-lay-out2 .as-lay-18,
.as-lay-out2 .as-lay-17,
.as-lay-out2 .as-lay-16,
.as-lay-out2 .as-lay-15,
.as-lay-out2 .as-lay-14,
.as-lay-out2 .as-lay-13,
.as-lay-out2 .as-lay-12,
.as-lay-out2 .as-lay-11,
.as-lay-out2 .as-lay-10,
.as-lay-out2 .as-lay-9,
.as-lay-out2 .as-lay-8,
.as-lay-out2 .as-lay-7,
.as-lay-out2 .as-lay-6,
.as-lay-out2 .as-lay-5,
.as-lay-out2 .as-lay-4,
.as-lay-out2 .as-lay-3,
.as-lay-out2 .as-lay-2,
.as-lay-out2 .as-lay-1 {
  padding: 7px;
}
/*grids宽度*/
.as-lay-24 {
  width: 100%;
}
.as-lay-23 {
  width: 95.83333333%;
}
.as-lay-22 {
  width: 91.66666667%;
}
.as-lay-21 {
  width: 87.5%;
}
.as-lay-20 {
  width: 83.33333333%;
}
.as-lay-19 {
  width: 79.16666667%;
}
.as-lay-18 {
  width: 75%;
}
.as-lay-17 {
  width: 70.83333333%;
}
.as-lay-16 {
  width: 66.66666667%;
}
.as-lay-15 {
  width: 62.5%;
}
.as-lay-14 {
  width: 58.33333333%;
}
.as-lay-13 {
  width: 54.16666667%;
}
.as-lay-12 {
  width: 50%;
}
.as-lay-11 {
  width: 45.83333333%;
}
.as-lay-10 {
  width: 41.66666667%;
}
.as-lay-9 {
  width: 37.5%;
}
.as-lay-8 {
  width: 33.33333333%;
}
.as-lay-7 {
  width: 29.16666667%;
}
.as-lay-6 {
  width: 25%;
}
.as-lay-5 {
  width: 20.83333333%;
}
.as-lay-4 {
  width: 16.66666667%;
}
.as-lay-3 {
  width: 12.5%;
}
.as-lay-2 {
  width: 8.33333333%;
}
.as-lay-1 {
  width: 4.16666667%;
}
/*上三角形*/
.as-angle-top {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  line-height: 0;
  border-style: solid dashed dashed dashed;
  border-color: #cccccc transparent transparent transparent;
  border-width: 5px;
}
/*右三角形*/
.as-angle-right {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  line-height: 0;
  border-style: dashed solid dashed dashed;
  border-color: transparent #cccccc transparent transparent;
  border-width: 5px;
}
/*下三角形*/
.as-angle-bottom {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  line-height: 0;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #cccccc transparent;
  border-width: 5px;
}
/*左三角形*/
.as-angle-left {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  line-height: 0;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #cccccc;
  border-width: 5px;
}
/*========layout 布局========*/
/*阴影*/
.as-shadow {
  box-shadow: 0px 0px 3px #C6D8E8;
  -moz-box-shadow: 0px 0px 3px #C6D8E8;
  -webkit-box-shadow: 0px 0px 3px #C6D8E8;
}
.as-wrap {
  width: 100%;
  overflow: hidden;
}
/*上下左右居中*/
.as-flex-xy {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* 水平轴居中对齐 */
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* 垂直轴居中对齐 */
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/*垂直居中*/
.as-flex-y {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* 垂直轴居中对齐 */
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/*浮动*/
.as-f-lt {
  display: inline;
  float: left;
}
.as-f-rt {
  display: inline;
  float: right;
}
.as-clearfix:before,
.as-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.as-clearfix:after {
  clear: both;
}
.as-clearfix {
  *zoom: 1;
}
/*左、右、中，固定与自动*/
.as-box-wrap {
  width: 100%;
  overflow: hidden;
}
.as-left-fixed {
  display: inline;
  float: left;
  position: relative;
  z-index: 10;
  width: 260px;
}
.as-right-auto {
  margin-left: 270px;
}
.as-left-auto {
  display: inline;
  width: 100%;
  float: left;
  padding-right: 270px;
}
.as-right-fixed {
  display: inline;
  float: left;
  position: relative;
  z-index: 10;
  width: 260px;
  margin-left: -260px;
}
.as-middle-auto {
  display: inline;
  width: 100%;
  float: left;
  margin-left: -260px;
  padding: 0 270px;
}
/*修改固定宽度，间隔为10*/
.as-box-wrap2 .as-left-fixed {
  width: 210px;
}
.as-box-wrap2 .as-right-auto {
  margin-left: 220px;
}
.as-box-wrap2 .as-left-auto {
  padding-right: 220px;
}
.as-box-wrap2 .as-right-fixed {
  width: 210px;
  margin-left: -210px;
}
.as-box-wrap2 .as-middle-auto {
  margin-left: -210px;
  padding: 0 220px;
}
/*多行式面包屑导航-默认竖线分隔 */
.as-crumb {
  overflow: hidden;
}
.as-crumb .as-cru-item {
  margin-left: -20px;
}
.as-crumb .as-cru-item li {
  float: left;
  word-wrap: normal;
  white-space: nowrap;
  margin-bottom: 2px;
}
.as-crumb .as-cru-item li:before {
  display: inline-block;
  width: 20px;
  text-align: center;
  content: '|';
  font-family: \5b8b\4f53;
  color: #aaa;
}
/*箭头分隔*/
.as-crumb-arrow .as-cru-item li:before {
  content: '\3E';
  font-weight: bold;
}
/*空白分隔*/
.as-crumb-blank .as-cru-item {
  margin-left: -10px;
}
.as-crumb-blank .as-cru-item li:before {
  width: 10px;
  content: '';
}
/*颜色块*/
.as-crumb-box {
  position: relative;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  background: #ccc;
}
.as-crumb-box li {
  float: left;
  min-width: 150px;
  text-align: center;
  padding-left: 24px;
  position: relative;
}
.as-crumb-box li:first-child {
  padding-left: 0;
}
.as-crumb-box .em {
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #fff;
  border-style: dashed dashed dashed solid;
  border-width: 24px 0 24px 24px;
  position: absolute;
  right: -24px;
  top: -8px;
  line-height: 0;
  font-size: 0;
  z-index: 10;
}
.as-crumb-box .i {
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #ccc;
  border-style: dashed dashed dashed solid;
  border-width: 16px 0 16px 16px;
  position: absolute;
  right: -16px;
  top: 0;
  line-height: 0;
  font-size: 0;
  z-index: 12;
}
.as-crumb-box .a {
  display: block;
}
.as-crumb-box .active .a {
  color: #fff;
}
.as-crumb-box .active {
  background-color: #0099CC;
  color: #fff;
}
.as-crumb-box .active .i {
  border-color: transparent transparent transparent #0099CC;
}
/*焦点块颜色*/
.as-crumb-box .active2 {
  background-color: #03B9C1;
}
.as-crumb-box .active2 .i {
  border-color: transparent transparent transparent #03B9C1;
}
/*分步骤*/
.as-top-steps {
  clear: both;
  margin: 20px 40px;
  margin-bottom: 30px;
  height: 20px;
  line-height: 0;
  position: relative;
}
.as-top-steps .line {
  border-bottom: 2px solid #e8e8e8;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 8px;
}
.as-top-steps .step {
  display: inline-block;
  position: absolute;
  z-index: 10;
  text-align: center;
}
.as-top-steps-2 .step-1 {
  left: 0;
}
.as-top-steps-2 .step-2 {
  right: 0;
}
.as-top-steps-3 .step-1 {
  left: 0;
}
.as-top-steps-3 .step-2 {
  left: 50%;
  margin-left: -8px;
}
.as-top-steps-3 .step-3 {
  right: 0;
}
.as-top-steps-4 .step-1 {
  left: 0;
}
.as-top-steps-4 .step-2 {
  left: 33.33%;
  margin-left: -8px;
}
.as-top-steps-4 .step-3 {
  left: 66.66%;
  margin-left: -8px;
}
.as-top-steps-4 .step-4 {
  right: 0;
}
.as-top-steps .dot {
  display: inline-block;
  background: #fff;
  padding: 2px;
  border-radius: 50%;
  line-height: 0px;
  border: 2px solid #fff;
  position: relative;
}
.as-top-steps .dot i {
  display: inline-block;
  background: #e8e8e8;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.as-top-steps .text {
  position: absolute;
  z-index: 10;
  line-height: 20px;
  left: -42px;
  top: 12px;
  width: 100px;
  color: #888;
}
.as-top-steps .active .dot {
  border: 2px solid #e8e8e8;
}
.as-top-steps .active .dot i {
  background: #2AAEE6;
}
.as-top-steps .active .text {
  color: #2AAEE6;
}
/*边框、内边距、圆角*/
.as-border,
.as-bor-radius,
.as-pad-border,
.as-pad-bor-radius {
  display: block;
  border: 1px solid #d0d0d0;
  overflow: hidden;
}
.as-pad-bor-radius {
  padding: 10px;
  border-radius: 5px;
}
.as-pad-border {
  padding: 10px;
}
.as-bor-radius {
  border-radius: 5px;
}
.as-bot-radius {
  border-radius: 0 0 5px 5px;
}
.as-top-radius {
  border-radius: 5px 5px 0 0;
}
.as-bor-none {
  border: none;
}
.as-radius {
  border-radius: 5px;
}
.as-rad-none {
  border-radius: none;
}
/*标题、内容*/
.as-title {
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d0d0d0;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.as-title-noline {
  border-bottom: none;
  margin-bottom: -15px;
}
.as-cont {
  overflow: hidden;
}
.as-title .as-icon {
  margin-right: 4px;
}
.as-title .as-f-rt {
  margin-right: 0;
  height: 100%;
  line-height: inherit;
}
.as-border .as-title,
.as-bor-radius .as-title {
  padding: 0 10px;
}
.as-border .as-cont,
.as-bor-radius .as-cont {
  padding: 10px;
  padding-top: 8px;
}
.as-pad-border .as-title,
.as-pad-bor-radius .as-title {
  margin-top: -10px;
}
.as-pad-border .as-cont,
.as-pad-bor-radius .as-cont {
  padding-top: 8px;
}
/* 含标题和Tab的模块头部-默认不定宽 */
.as-tab-hd {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #CCDCEB;
}
.as-tab-hd .as-tab-title,
.as-tab-hd .ul,
.as-tab-hd li {
  float: left;
}
.as-tab-hd .as-tab-title {
  margin-right: 20px;
  font-size: 14px;
}
.as-tab-hd li {
  position: relative;
  margin: -1px 0 0 2px;
}
.as-tab-hd li:first-child {
  margin-left: 0;
}
.as-tab-hd .as-u {
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border: 1px solid #CCDCEB;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background: #f8f8f8;
  overflow: hidden;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#f8f8f8));
  background: -webkit-linear-gradient(#fdfdfd, #f8f8f8);
  background: -moz-linear-gradient(#fdfdfd, #f8f8f8);
  background: -ms-linear-gradient(#fdfdfd, #f8f8f8);
  background: linear-gradient(#fdfdfd, #f8f8f8);
}
.as-tab-hd .as-u:hover {
  background: #fff;
}
.as-tab-hd .active .as-u {
  padding-bottom: 1px;
  margin-bottom: -1px;
  background: #fff;
}
.as-tab-hd .more {
  float: right;
  margin-left: 10px;
}
/*有背景*/
.as-tab-hd-bg {
  height: 43px;
  padding: 8px 8px 0 8px;
  border-radius: 5px 5px 0 0;
  background: #f7f7f7;
}
/*tab无缝*/
.as-tab-hd-sl li {
  margin-left: -1px;
}
.as-tab-hd-sl .as-u {
  border-radius: 0;
}
.as-tab-hd-sl li:first-child .as-u {
  border-top-left-radius: 5px;
}
.as-tab-hd-sl li:last-child .as-u {
  border-top-right-radius: 5px;
}
/*tab居右*/
.as-tab-hd-rt .as-tab-title {
  margin-right: 0;
}
.as-tab-hd-rt .ul {
  float: right;
}
/*tab较小*/
.as-tab-hd-sm {
  height: 25px;
  line-height: 25px;
}
.as-tab-hd-sm .as-tab-title {
  font-size: 12px;
}
.as-tab-hd-sm .as-u {
  padding: 0 10px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
/*tab定宽*/
.as-tab-hd-fw li {
  width: 80px;
}
.as-tab-hd-fw .as-u {
  padding: 0;
}
/*tab直角*/
.as-tab-hd-ra,
.as-tab-hd-ra .as-u,
.as-tab-hd-ra li:first-child .as-u,
.as-tab-hd-ra li:last-child .as-u {
  border-radius: 0;
}
/*========list 列表========*/
/*带点文字链接列表*/
/*方点*/
.as-text-list {
  width: 100%;
  overflow: hidden;
}
.as-text-list .as-u {
  display: block;
  padding-left: 10px;
  margin-bottom: 3px;
}
.as-text-list .as-u:before {
  display: inline-block;
  margin: 0 6px 2px -10px;
  border: 2px solid;
  vertical-align: middle;
  content: '';
}
.as-text-list .as-u:hover {
  color: #333333;
}
/*圆点*/
.as-text-list-radius .as-u:before {
  border-radius: 50%;
}
/*水平*/
.as-text-list-x li {
  float: left;
  margin-right: 20px;
}
/*无点*/
.as-text-list-none {
  width: 100%;
  overflow: hidden;
}
.as-text-list-none .as-u {
  display: block;
  margin-bottom: 3px;
}
/*标题列表*/
.as-text-list2 {
  width: 100%;
  overflow: hidden;
}
.as-text-list2 .as-u {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
}
.as-text-list2 .as-u:hover {
  color: #333;
  background: #fafafa;
}
.as-text-list2 .as-text-title {
  font-size: 14px;
  margin-bottom: 4px;
}
.as-text-list2 .as-text-title .as-f-rt {
  margin-left: 8px;
  font-size: 12px;
  margin-top: 2px;
}
/*左图右文图文列表*/
/*竖排*/
.as-img-list {
  width: 100%;
  overflow: hidden;
}
.as-img-list li {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 110px;
}
.as-img-list .as-u {
  float: left;
  width: 100%;
}
.as-img-list .as-u:hover {
  color: #333;
  background: #fafafa;
}
.as-img-list .as-img {
  float: left;
  width: 100px;
  height: 100px;
  margin-left: -110px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  padding: 1px;
}
.as-img-list .as-text {
  float: left;
}
.as-img-list .as-text-title {
  font-size: 14px;
  margin-bottom: 4px;
}
.as-img img {
  max-width: 100%;
  max-height: 100%;
}
/*修改宽度大小*/
.as-img-list2 li {
  padding-left: 60px;
}
.as-img-list2 .as-img {
  width: 50px;
  height: 50px;
  margin-left: -60px;
}
/*横排*/
.as-img-list-x li {
  width: 50%;
  height: 100px;
  padding-right: 10px;
}
/*简易数据表格-格边框*/
.as-table {
  table-layout: fixed;
  width: 100%;
  line-height: 1.5;
  font-size: 12px;
}
.as-table th,
.as-table td {
  padding: 5px 10px;
  border: 1px solid #CCDCEB;
}
.as-table th {
  font-size: 14px; 
  color: #166ccb;
  background: #F7FBFC
}
.as-table tbody tr:nth-child(2n) {
  background: #fffefe;
}
.as-table tbody tr:hover {
  background: #CEE8FA;
}
.as-table .cola {
  width: 100px;
}
.as-table .colb {
  width: 200px;
}
.as-table2 .as-td-name{
  text-align: right; color: #146DC9;background: #F7FBFC
}
.as-table2 tbody tr:hover {background: none}

/*简易数据表格-行边框*/
.as-table-row th,
.as-table-row td {
  border-width: 0 0 1px;
}
.as-table-row2 th,
.as-table-row2 td {
  text-align: left;
  border-width: 0 0 1px;
}
.as-table-row2{
  border: 1px solid #CCDCEB;
}


/*简易数据表格-圆角*/
.as-table-rds {
  border-collapse: separate;
  border: 1px solid #CCDCEB;
  border-width: 0 1px 1px 0;
  border-radius: 3px;
}
.as-table-rds th,
.as-table-rds td {
  border-width: 1px 0 0 1px;
}
.as-table-rds > :first-child > :first-child > :first-child {
  border-top-left-radius: 3px;
}
.as-table-rds > :first-child > :first-child > :last-child {
  border-top-right-radius: 3px;
}
.as-table-rds > :last-child > :last-child > :first-child {
  border-bottom-left-radius: 3px;
}
.as-table-rds > :last-child > :last-child > :last-child {
  border-bottom-right-radius: 3px;
}
/*普通翻页器-默认居中*/
.as-page {
  margin: 10px 0 0;
  text-align: center;
  line-height: 32px;
  font-size: 0;
  letter-spacing: -0.307em;
  word-wrap: normal;
  white-space: nowrap;
  color: #999;
}
.as-page a,
.as-page span {
  display: inline-block;
  vertical-align: top;
  padding: 0 12px;
  margin-left: -1px;
  border: 1px solid #CCDCEB;
  font-size: 12px;
  letter-spacing: normal;
  text-shadow: 0 1px #fff;
  background: #fff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.as-page a,
.as-page a:hover {
  text-decoration: none;
  color: #39c;
}
.as-page a:first-child {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.as-page a:last-child {
  margin-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.as-page .prev:before,
.as-page .next:after {
  font-weight: bold;
  font-family: \5b8b\4f53;
  vertical-align: top;
}
.as-page .prev:before {
  margin-right: 3px;
  content: '\3C';
}
.as-page .next:after {
  margin-left: 3px;
  content: '\3E';
}
.as-page a:hover {
  background: #f5f5f5;
}
.as-page a:active {
  background: #f0f0f0;
}
.as-page .current,
.as-page .current:hover,
.as-page .current:active {
  cursor: default;
  color: #fff;
  background: #0099CC;
}
.as-page .current.prev,
.as-page .current.next {
  cursor: default;
  color: #ccc;
  background: #eee;
}
/*居左*/
.as-page-lt {
  text-align: left;
}
/*居右*/
.as-page-rt {
  text-align: right;
}
/*较小*/
.as-page-sm {
  line-height: 22px;
}
.as-page-sm a,
.as-page-sm span {
  padding: 0 8px;
}
/*分离*/
.as-page-sr a,
.as-page-sr span {
  margin: 0 3px;
  border-radius: 3px;
}
.as-page-sr span {
  border: 0;
}
.as-page-sr a:first-child,
.as-page-sr a:last-child {
  border-radius: 3px;
}
/*========element 元件========*/
/*通用自定义按钮-默认蓝色*/
.as-btn,
.as-btn-block {
  color: #fff;
  text-decoration: none; 
  display: inline-block;
  padding: 0 8px;
  min-width: 42px;
  height: 32px;
  line-height: 32px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  word-wrap: normal;
  white-space: nowrap; 
    
  background: #3C90FF; 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3C90FF), to(#63C8F4));
  background: -webkit-linear-gradient(left,#3C90FF, #63C8F4);
  background: -moz-linear-gradient(left,#3C90FF, #63C8F4);
  background: -ms-linear-gradient(left,#3C90FF, #63C8F4);
  background: linear-gradient(left,#3C90FF, #63C8F4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#3C90FF', endColorstr='#63C8F4');/*For IE7-8-9*/
 
}
.as-btn:hover,
.as-btn-block:hover{
  opacity:0.9; 
  color: #fff;
  text-decoration:none;
}

.as-btn::-moz-focus-inner,
.as-btn-block::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}
.as-btn .as-btnsel,
.as-btn-block .as-btnsel {
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px 4px 0;
  border-color: #fff transparent transparent;
  border-color: rgba(255, 255, 255, 0.8) transparent transparent;
}
.as-btn:hover .as-btnsel,
.as-btn:focus .as-btnsel,
.as-btn-block:hover .as-btnsel,
.as-btn-block:focus .as-btnsel {
  border-top-color: #fff;
  border-top-color: #ffffff;
}
.as-btn-block {
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.as-block {
  display: block;
}
/*较大*/
.as-btn-lg {
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
.as-btn-lg .as-btnsel {
  border-width: 5px 5px 0;
}
/*较小*/
.as-btn-sm ,.as-btn-list-sm .as-btn{
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
}
.as-btn-sm2,.as-btn-list-sm2 .as-btn {
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
}
/*蓝色*/
.as-btn-blue {
 
}
.as-btn-blue:hover,
.as-btn-blue:focus {  
 
}
/*浅蓝色*/
.as-btn-blue2 {
  background:#7fb9f8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fb9f8), to(#a2dff8));
  background: -webkit-linear-gradient(left,#7fb9f8, #a2dff8);
  background: -moz-linear-gradient(left,#7fb9f8, #a2dff8);
  background: -ms-linear-gradient(left,#7fb9f8, #a2dff8);
  background: linear-gradient(left,#7fb9f8, #a2dff8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#7fb9f8', endColorstr='#a2dff8');/*For IE7-8-9*/
 
}
.as-btn-blue2:hover,
.as-btn-blue2:focus {
 
}
/*红色*/
.as-btn-red {
  background:#e82f41;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e82f41), to(#ef7380));
  background: -webkit-linear-gradient(left,#e82f41, #ef7380);
  background: -moz-linear-gradient(left,#e82f41, #ef7380);
  background: -ms-linear-gradient(left,#e82f41, #ef7380);
  background: linear-gradient(left,#e82f41, #ef7380);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#e82f41', endColorstr='#ef7380');/*For IE7-8-9*/
 
}
.as-btn-red:hover,
.as-btn-red:focus {
 
}
/*黄色*/
.as-btn-yellow {
  border-color: #e1962d;
  background: #f8960a;
}
.as-btn-yellow:hover,
.as-btn-yellow:focus {
 
}
/*绿色*/
.as-btn-green {
  border-color: #7AB444;
  background: #7AB444;
}
.as-btn-green:hover,
.as-btn-green:focus {
 
}
/*灰色*/
.as-btn-gray {
  border-color: #d0d0d0;
  background: #e7e7e7;
}
.as-btn-gray,
.as-btn-gray:hover {
  color: #333;
}
.as-btn-gray:hover,
.as-btn-gray:focus {
  background: #e7e7e7;
}
.as-btn-gray .as-btnsel {
  border-top-color: #333;
  border-top-color: rgba(0, 0, 0, 0.6);
}
.as-btn-gray:hover .as-btnsel,
.as-btn-c4:focus .as-btnsel {
  border-top-color: #333;
  border-top-color: #000000;
}
/*深灰色*/
.as-btn-dar-gray {
  border-color: #aaa;
  background: #aaa;
}
.as-btn-dar-gray,
.as-btn-dar-gray:hover {
  color: #333;
}
.as-btn-dar-gray:hover,
.as-btn-dar-gray:focus {
  background: #aaa;
}
.as-btn-dar-gray .as-btnsel {
  border-top-color: #333;
  border-top-color: rgba(0, 0, 0, 0.6);
}
.as-btn-dar-gray:hover .as-btnsel,
.as-btn-c4:focus .as-btnsel {
  border-top-color: #333;
  border-top-color: #000000;
}
/*通用自定义按钮组合*/
.as-btns {
  display: inline-block;
  position: relative;
}
.as-btns .as-btn {
  float: left;
  margin-left: -1px;
  border-radius: 0;
}
.as-btns .as-btn:first-child {
  margin-left: 0;
  border-radius: 3px 0 0 3px;
}
.as-btns .as-btn:nth-last-of-type(1) {
  border-radius: 0 3px 3px 0;
}
.as-btns .as-btn:only-of-type {
  border-radius: 3px;
}
.as-btns .active {
  background: #399dd8;
  color: #fff;
  text-shadow: none;
}
/*下拉式菜单-默认左对齐*/
.as-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
}
.as-menu-ul {
  display: block;
  min-width: 90px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  line-height: 1.5;
  font-size: 12px;
  max-height: 210px;
  overflow: hidden;
  overflow-y: auto;
  letter-spacing: normal;
  word-spacing: normal;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.as-menu a {
  display: block;
  padding: 6px 10px;
  border-top: 1px solid #e8e8e8;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  color: #333;
}
.as-menu li:first-child a {
  border: 0;
  border-radius: 3px 5px 0 0;
}
.as-menu li:last-child a {
  border-radius: 0 0 5px 5px;
}
.as-menu a:hover {
  color: #2d67d5;
  background: #CEE8FA;
}
.as-menu a:active {
  background: #BCDFF8;
}
/*显示*/
.as-show {
  display: block;
}
/*分组*/
.as-menu-gp li:empty {
  border-top: 1px solid #CCDCEB;
  margin: 5px 0;
}
.as-menu-gp a {
  border: 0;
}
/*宽度限制*/
.as-menu-min,
.as-menu-max {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.as-menu-min {
  min-width: 100%;
}
.as-menu-max {
  max-width: 100%;
}
/*右对齐*/
.as-menu-rt {
  left: auto;
  right: 0;
}
/*水平进度条-默认蓝色*/
.as-progress {
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 2px;
  background: #f7f7f7;
}
.as-progress .as-pg-bar,
.as-progress .pging {
  display: block;
  width: 0;
  height: 100%;
}
.as-progress .as-pg-bar {
  background: #3a9ed8;
}
.as-progress .pging {
  width: 100%;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.2)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(255, 255, 255, 0.2)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  -ms-background-size: 30px 30px;
  background-size: 30px 30px;
  -webkit-animation: pging 1s linear infinite;
  -moz-animation: pging 1s linear infinite;
  -ms-animation: pging 1s linear infinite;
  animation: pging 1s linear infinite;
}
@-webkit-keyframes pging {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
@-moz-keyframes pging {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
@-ms-keyframes pging {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
@keyframes pging {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
/*较佳，绿色*/
.as-progress-green .as-pg-bar {
  background: #50b050;
}
/*中等，黄色*/
.as-progress-yellow .as-pg-bar {
  background: #f8960b;
}
/*较差，红色*/
.as-progress-red .as-pg-bar {
  background: #cc1c23;
}
.as-progress-num {
  padding-right: 40px;
}
.as-progress-num .as-num {
  float: right;
  width: 36px;
  margin-right: -40px;
  margin-top: -2px;
  line-height: normal;
}
/*多点式幻灯指示控制器-默认底部居中*/
.as-pointer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 50;
  text-align: center;
  line-height: 0;
}
.as-pointer i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0 0 5px;
  border-radius: 50%;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #ccc;
}
.as-pointer i:first-child {
  margin-left: 0;
}
.as-pointer i:hover {
  background: #999;
}
.as-pointer .active {
  background: #40a1d9;
}
/*居右*/
.as-pointer-rt {
  right: 10px;
  left: auto;
}
.as-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.as-text-overflow2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*========form 表单========*/ 
.as-label {
  display: inline-block;
  text-align: right;
  padding-right:5px;
  min-width: 55px;
  vertical-align: middle; 
  font-weight: normal;
}
.as-input {
  display: inline-block;
  width: 150px;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #fff;
  vertical-align: middle;
}
.as-select {
  display: inline-block;
  width: 150px;
  height: 26px;
  line-height: 18px;
  padding: 4px 0;
  padding-left: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  vertical-align: middle;
}
.as-textarea {
  display: inline-block;
  width: 150px;
  min-height: 60px;
  padding: 0 6px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  resize: none;
}
.as-label input {
  cursor: pointer;
}
.as-label .as-check {
  vertical-align: middle;
  margin-right: 3px;
}
.as-form-item {
  display: block;
  width: 100%;
  color: both;
}
.as-form-item li.as-lay-row,
.as-form-item li > .as-lay-row,
.as-form-btns .as-lay-row {
  padding-bottom: 14px;
  width: 100%;
  float: left;
  margin: -5px 0;
}
.as-form-item .as-label {
  display: block;
  text-align: right;
  margin-top: 4px;
  padding-right: 0;
  color: #166ccb;
}
 
.as-form-item2 .as-label,.as-form-detail .as-label {margin-top: 0}
.as-form-item .as-label-lt .as-label {
  display: inline-block;
  text-align: left;
  margin-top: 0;
  margin-right: 10px;
}
.as-form-item .as-mar-top-0,
.as-form-item .as-mar-top-0 .as-label {
  margin-top: 0;
}
.as-form-item .as-em {
  display: inline-block;
  width: 3px;
  color: #f00;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
.as-form-item .as-input {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  border: 1px solid #d0d0d0;
  border-radius: 2px; 
}
.as-form-item .as-select {
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}
.as-form-item .as-textarea {
  display: block;
  width: 100%;
  min-height: 90px;
  padding: 0 6px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  resize: none;
}
.as-form-item .as-lab-radio,
.as-form-item .as-lab-checkbox,
.as-label-input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
}
.as-form-item .as-radio,
.as-form-item .as-checkbox,
.as-label-input input {
  display: inline-block;
  margin-right: 3px;
  margin-top: -4px;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer; 
}
.as-form-item .as-inline-block .as-label {
  display: inline-block;
  width: auto;
  min-width: 55px;
  text-align: left;
  color: #444
}
.as-form-item .as-inline-block .as-input,
.as-form-item .as-inline-block .as-select,
.as-form-item .as-inline-block .as-textarea {
  display: inline-block;
  width: 150px;
}
.as-form-item textarea.error ,.as-list-hd textarea.error{
  border: 1px solid #DB5667;
}
.as-form-item input.error,.as-list-hd input.error{
   padding-right: 20px; 
   border: 1px solid #DB5667; 
}

.as-form-item .valid {
/* padding-right: 20px; 
   border: 1px solid #26B593;
 */
}

.as-form-item  .as-lay-row   [class*=as-lay]{position: relative; padding: 5px 2px;}

.as-form-item label.error,.as-list-hd label.error{
  display: inline-block;
  border: none;
  position: absolute;
  z-index: 10;
  color: #db5565;
  font-size: 90%;
  line-height: normal;
  background-color: #fae6e8;
  padding: 3px 8px;
  border-radius: 3px;
}

.as-form-item label.error:after, .as-form-item label.error:before,.as-list-hd label.error:after,.as-list-hd label.error:before{
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 10px;  
    position: absolute;
    width: 0;
} 
 
.as-form-item label.error:before,.as-list-hd label.error:before {
    border-width:5px;
    border-bottom-color: #fae6e8;
    top: -10px;
} 

.as-form-item .as-span,.as-list-hd .as-span{position: relative;display: inline-block;}
.as-form-item .as-span label.error,.as-list-hd .as-span label.error{left: 0;display: block;min-width: 75px;}


.as-form-item .as-hide {
  display: none;
}
.as-form-btns .as-btn {
  min-width: 100px;
  margin-right: 20px;
}
.as-form-item .as-disabled{background: #f4f4f4}
.as-chosen + label.error,.as-chosen2 + label.error{margin-top:30px;}

/*file 文件框模拟*/
.as-file-box {
  display: inline-block;
  width: 200px;
  padding-right:73px;
  vertical-align: top;
}
.as-file-box .as-file-text {
  display: block;
  height: 24px;
  line-height: 24px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #fff;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.as-file-box .as-file-btn {
  display: inline-block;
  height: 26px;
  line-height: 24px;
  float: right;
  width: 70px;
  margin-right: -73px; 
  text-align: center;
  cursor: pointer;
  color: #fff;
}
 

/*========module 模块========*/
/*下拉框*/
.as-select-box {
  position: relative;
}
.as-select-box .as-sel-item {
  display: block;
  padding: 0 8px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #d0d0d0;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
}
.as-select-box .as-sel-text {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.as-sel-text .as-f-rt {
  display: inline-block;
  font-size: 16px;
  margin-top: 6px;
  height: 22px;
  line-height: 22px;
  color: #888;
}
.as-sel-ul {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #d0d0d0;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 0 0 2px 2px; 
}
.as-sel-ul .as-u {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  cursor: pointer;
  border-bottom: 1px dotted #d0d0d0;
}
.as-sel-ul .as-u:last-of-type {
  border-bottom: none;
}
.as-sel-ul .as-u:hover {
  background: #f7f7f7;
}
.as-sel-ul li {
  border-bottom: 1px solid #e8e8e8;
}
/*较小下拉框*/
.as-select-box-sm .as-sel-item {
  padding: 0 4px;
  height: 30px;
}
.as-select-box-sm .as-sel-text {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
.as-select-box-sm .as-f-rt { 
  height: 20px;
  line-height: 18px;
}
/*搜索框*/
.as-search-box {
  padding: 10px 0;
  position: relative;
}
.as-search-box .as-srh-item {
  display: block;
  padding: 0 8px;
  padding-left: 30px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  background: #fff;
}
.as-search-box .as-srh-input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
  border: none;
  background: none;
}
.as-search-box .as-srh-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #BABABA;
  font-size: 16px;
  float: left;
  text-align: center;
  margin-left: -30px;
  cursor: pointer;
}
.as-search-box .as-srh-more {
  padding-top: 4px;
  vertical-align: middle;
  clear: both;
  overflow: hidden;
  color: #25ace6;
}
.as-srh-more .as-f-rt {
  cursor: pointer;
}
.as-srh-more .fa {
  display: inline-block;
  font-size: 20px;
  margin-left: 4px;
  vertical-align: middle;
}
/*右边搜索按钮*/
.as-search-box-rt .as-srh-item {
  padding: 0 8px;
  padding-right: 30px;
}
.as-search-box-rt .as-srh-btn {
  float: right;
  margin-left: auto;
  margin-right: -30px;
}
/*左边下拉与搜索*/
.as-search-box-sel .as-srh-item {
  padding: 0 30px;
  padding-left: 70px;
}
.as-search-box-sel .as-srh-btn {
  float: right;
  margin-left: auto;
  margin-right: -30px;
}
.as-search-box-sel .as-srh-text {
  display: inline-block;
  width: 65px;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  overflow: hidden;
  margin-left: -70px;
  cursor: pointer;
}
.as-srh-text .as-f-rt {
  display: inline-block;
  font-size: 16px;
  border-right: 1px solid #d0d0d0;
  margin-top: 5px;
  height: 21px;
  line-height: 21px;
  padding-right: 4px;
  color: #888;
}
.as-search-box-sel .as-sel-ul {
  width: 70px;
  text-align: center;
}
.as-search-box-radius .as-srh-item {
  border-radius: 16px;
}
.as-search-box-radius .as-srh-text {
  padding-left: 4px;
}
/*较小搜索框*/
.as-search-box-sm .as-srh-item {
  padding-left: 28px;
  height: 30px;
}
.as-search-box-sm .as-srh-input {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
.as-search-box-sm .as-srh-btn {
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-left: -28px;
}
.as-search-box-rt-sm .as-srh-item {
  padding-right: 28px;
  height: 30px;
}
.as-search-box-rt-sm .as-srh-input {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
.as-search-box-rt-sm .as-srh-btn {
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-right: -28px;
}
/*单选框*/
.as-radio-box {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.as-radio-box .as-rad-label {
  float: left;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  min-width: 60px;
  padding: 0 6px;
  background: #eaeef1;
  cursor: pointer;
  border-left: 1px solid #D5DCE2;
  margin-left: -1px;
  text-align: center;
  margin-bottom: 2px;
  color: #A7A9A8;
}
.as-radio-box .active {
  background: #469cf2;
  color: #fff;
}
.as-radio-box .as-radio {
  display: none;
}
/*复选框*/
.as-check-box {
  display: inline-block;
  vertical-align: middle;
}
.as-check-box .as-che-label {
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  min-width: 60px;
  padding: 0 6px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 2px;
  background: #eaeef1;
}
.as-check-box .as-check {
  display: none;
}
.as-check-box .active {
  background: #6abbe1;
  color: #fff;
}
/*========animation 动画========*/
/*透明度由0到1*/
.as-twinkling {
  -webkit-animation: twinkling 1s infinite ease-in-out;
  -moz-animation: twinkling 1s infinite ease-in-out;
  -ms-animation: twinkling 1s infinite ease-in-out;
  animation: twinkling 1s infinite ease-in-out;
}
.as-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
}
@-webkit-keyframes twinkling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twinkling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes twinkling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes twinkling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
