<template>
  <div class="shop_container">
    <ul class="shop_list">
      <li class="shop_li">
        <a>
          <div class="shop_left">
            <img class="shop_img" src="../../components/ShopList/images/shop/1.png">
          </div>
          <div class="shop_right">
            <section class="shop_detail_header"></section>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>

    export default{}

</script>


<style lang="stylus" rel="stylesheet/stylus">
   .shop_container
     margin-bottom 50px
     .shop_list
       .shop_list
         width 100%
         >a
           zoom 1
           &::after
             content ''
             display block
             clear both
              box-sizing border-box
              padding 15px 8px

</style>
