<template>
  <section class="profile">
    <HeaderTop
      title="我的"
    />
    <section class="profile-number">

      <router-link to="/login" class="profile-link">
        <div class="profile_image">
          <i class="iconfont icon-person"></i>
        </div>
        <div class="user-info">
          <p class="user-info-top">登录/注册</p>
          <p>
            <span class="user-icon">
              <i class="iconfont icon-shouji icon-mobile"></i>
            </span>
            <span class="icon-mobile-number">暂无绑定手机号</span>
          </p>
        </div>
        <span class="arrow">
          <i class="iconfont icon-jiantou1"></i>
        </span>
      </router-link>

    </section>
    <section class="profile_info_data">
      <ul class="profile_data_list">
        <a href="javascript:" class="info_data_link">
          <span class="info_data_top"><span>0.00</span>元</span>
          <span class="info_data_bottom">我的余额</span>
        </a>
        <a href="javascript:" class="info_data_link">
          <span class="info_data_top"><span>0</span>个</span>
          <span class="info_data_bottom">我的优惠</span>
        </a>
        <a href="javascript:" class="info_data_link">
          <span class="info_data_top"><span>0</span>分</span>
          <span class="info_data_bottom">我的积分</span>
        </a>
      </ul>
    </section>



  </section>
</template>

<script>
  import HeaderTop from '../../components/HeaderTop/HeaderTop.vue'
  export default {
    components:{
      HeaderTop
    },
  }
</script>


<style>
  .profile{
    width:100%;
    overflow:hidden
  }
  .profile-link {
    color: #fff;
  }

  .profile-link {
    zoom: 1;
    display: block;
    clear: both;
    position: relative;
    background: #02a774;
    padding: 20px 10px
  }
  .profile_image {
    float :left;
    width :60px ;
    height: 60px;
  }
  .user-info span{
    height: 30px;
    line-height: 30px;
  }

</style>
