<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= VUE_APP_BASE_URL %>favicon.ico">
    <title>云南交通运行检测系统</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but beat-cli doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=SsRLitGq5Zra97P7sopRSvgU&__ec_v__=20190126"></script>
  </body>
</html>
