<template>
  <section class="msite">
     <!-- 首页头部 -->
    <!--&lt;!&ndash; 首页头部 &ndash;&gt;-->
    <!--<header class="header">-->
      <!--<span class="header_search">-->
        <!--<i class="iconfont iconsousuo"></i>-->
      <!--</span>-->
      <!--<span class="header_title">-->
        <!--<span class="header_title_text_ellipsis">昌平区北七家宏福科技园</span>-->
      <!--</span>-->
      <!--<span class="header_login">-->
        <!--<span class="header_login_text">登录 | 注册</span>-->
      <!--</span>-->
    <!--</header>-->

    <HeaderTop title="昌平区北七家宏福科技园">
        <span class="header_search" slot="left">
          <i class="iconfont iconsousuo"></i>
        </span>

      <span class="header_login" slot="right">
        <span class="header_login_text">登录 | 注册</span>
      </span>
    </HeaderTop>

    <!-- 首页导航 -->
    <nav class="msite_nav">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="javascript:" class="link_to_food">
              <div class="food_container">
                <img src="./images/nav/1.png">
              </div>
              <span>甜品饮品</span>
            </a>
            <a href="javascript:" class="link_to_food">
              <div class="food_container">
                <img src="./images/nav/1.png">
              </div>
              <span>超市便利</span>
            </a>
            <a href="javascript:" class="link_to_food">
              <div class="food_container">
                <img src="./images/nav/1.png">
              </div>
              <span>文具用品</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="javascript:" class="link_to_food">
              <div class="food_container">
                <img src="./images/nav/1.png">
              </div>
              <span>甜品饮品</span>
            </a>
            <a href="javascript:" class="link_to_food">
              <div class="food_container">
                <img src="./images/nav/1.png">
              </div>
              <span>超市便利</span>
            </a>
            <a href="javascript:" class="link_to_food">
              <div class="food_container">
                <img src="./images/nav/1.png">
              </div>
              <span>文具用品</span>
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </nav>

    <!-- 首页附近商家列表 -->
    <div class="msite_shop_list">
      <div class="shop_header">
        <i class="iconfont icon-xuanxiang"></i>
        <span class="shop_header_title">附近商家</span>
      </div>

     <ShopList/>
    </div>
  </section>
</template>



  <script>

  import Swiper from 'swiper'
  import 'swiper/css/swiper.min.css'

  import HeaderTop from '../../components/HeaderTop/HeaderTop.vue'
  import ShopList from '../../components/ShopList/ShopList.vue'

  export default{

      mounted(){
          //创建一个Swiper实例对象，来实现轮播
       new Swiper ('.swiper-container', {
//          direction: 'vertical', // 垂直切换选项
          loop: true, // 循环模式选项

          // 如果需要分页器
          pagination: {
            el: '.swiper-pagination',
          },

//          // 如果需要前进后退按钮
//          navigation: {
//            nextEl: '.swiper-button-next',
//            prevEl: '.swiper-button-prev',
//          },
//
//          // 如果需要滚动条
//          scrollbar: {
//            el: '.swiper-scrollbar',
//          },
        })
      },

    components:{
        HeaderTop,
        ShopList
    },
    data() {
      return {
      };
    }

  }

</script>


<style lang="stylus" rel="stylesheet/stylus">
  .swiper-container
    width  600px
    height 200px

  .msite
      width:100%

      .msite_nav
        {}
      .msite_shop_list
        {}
</style>
