<template>
  <div>
    <h2>child子组件部分  父亲向子传值</h2>
    <!--<p>{{message}}</p>-->
  </div>
</template>

<script>
  export default {

  }
</script>


<style lang="stylus" rel="stylesheet/stylus">

</style>
