<template>
  <section class="search">
    <!--<header class="header">-->
      <!--<a class="header_title">-->
        <!--<span class="header_title_text">搜索</span>-->
      <!--</a>-->
    <!--</header>-->
    <HeaderTop
      title="搜索"
    />
    <form class="search_from" action="#">
      <input type="search" name="search" placeholder="请输入商家或美食名称">
      <input type="submit" name="submit" class="search_submit ">
    </form>
  </section>
</template>

<script>
  import HeaderTop from '../../components/HeaderTop/HeaderTop.vue'
  export default {
    components:{
      HeaderTop
    },
  }
</script>


<style lang="stylus" rel="stylesheet/stylus">
  .header
    background-color #02a774
    position fixed
    z-index 100
    left 0
    top 0
    width 100%
    height 45px
    .header_search
      position absolute
      left 5px
      top 50%
      transform translateY(-50%)
      width 10%
      color #fff
      .icon-sousuo
        font-size 25px
    .header_title
      position absolute
      left 50%
      top 50%
      transform translate(-50%,-50%)
      width 40%
      color #fff
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    .header_login
      font-size 14px
      color #fff
      position absolute
      right 15px
      top 50%
      transform translateY(-50%)
      .header_login_text
        color #fff

</style>
